<!doctype html>
<html>
<head>
    <title>HP - Sorting Hat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="index">
<div class="container indexContainer">

    <div class="jumbotron text-center">
        <h1 id="indexH1">Harry Potter</h1>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span><img src="img/deathlyHallow.jpg"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span ><img src="img/deathlyHallow.jpg"></span>Signup</a>

    </div>

</div>
</body>
</html>
