<html>
<head>
 <meta charset="UTF-8">
 <link rel='shortcut icon' type='image/x-icon' href='#' />
 <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>

 <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css">
 <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

 <link rel="stylesheet" type="text/css" href="style.css">


 <title>Harry Potter</title>
</head>

<body>

<div id="quizzie">
  <h1> Hogwarts Sorting Hat Quiz </h1>
    <ul class="quiz-step step1 current">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #1: There is a three-headed dog between you and your best friend, what do you do next?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Try to take on the dog myself, distracting it's view from my friend.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text"> I use my exceptional broom flying skills to zoom past the dog - leaving my friend in despair.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step2">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #2: You find yourself standing at a mysterious locked door, what do you do?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Leave the door alone and act like it doesn't exist.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Come back later when no one is around and try to find your way through it.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step3">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #3: Where do you see yourself working?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">In a warm, dry library.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Alone in a cold, dark dungeon.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step4">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #4: If you had to choose one potion to use for the rest of your life, which would it be?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Elixir to Induce Euphoria - A potion that induces a sense of inexplicable, irrational happiness upon the drinker.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Forgetfulness Potion - A potion that makes the taker overly forgetful.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step5">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #5: You have a big exam tomorrow, how do you prepare?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Study profusely and don't sleep at all.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Do nothing.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step6">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #6: While shopping in Diagon Alley you realize you were undercharged when purchasing a wand from Ollivanders. What do you do?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Return to Ollivanders and give Mr. Garrick the difference. </p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Keep the money - use it for Bertie Bott's Beans. </p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step7">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #7: Choose one of the following pets for a companion:</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">An owl - bird of prey.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">A Cat - a domesticated creature for both Wizards and Muggles.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step8">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #8: If you could bring back memories with one smell, what would it be? </h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">The smell of a delicious, large pepperoni pizza.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">The putrid smell of sweaty feet.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step9">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #9: Your close friend is being held by Death Eaters in the basement dungeon of the Malfoy mansion. You:</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Gather together Dumbledore's Army and prepare to fight your way through the dungeon.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Leave your friend to be devoured by the Death Eaters.</p>
            </div>
        </li>
    </ul>
    <ul class="quiz-step step10">
        <li class="question">
            <div class="question-wrap">
                <h2>Question #10: Severus Snape: Friend or Foe?</h2>
            </div>
        </li>
        <li class="quiz-answer low-value" data-quizIndex="2">
            <div class="answer-wrap">
                <p class="answer-text">Foe: Snape has always disliked Harry.</p>
            </div>
        </li>
        <li class="quiz-answer high-value" data-quizIndex="4">
            <div class="answer-wrap">
                <p class="answer-text">Friend: Dumbledore had no doubt that Snape was trustworthy</p>
            </div>
        </li>
    </ul>
    <ul id="results">
        <li class="results-inner">
            <p>Your result is:</p>
            <p class="desc"></p>
        </li>
    </ul>
</div>
<script src="profile.js"></script>

</body>
</html>
