.index {
  background-image: url(https://media.tenor.com/DiS5PdRCb-MAAAAC/sorting-hat.gif);
  background-repeat: no-repeat;
  background-size: 1400px 500px;
  background-position: top;
  background-color: rgb(0, 0, 0);
}
.profileBody{
  background-image: url(https://media.tenor.com/vkDuuNm40XoAAAAd/hogwarts-legacy-warner-bros-interactive-entertainment.gif);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #212532;
}
.indexContainer{
  width: 1170px;
  margin-top: 550px;
}
img{
  height:25px;
  padding: 2px
}
.hat{
  height:170px;
  margin: 20px 20px 50px 0;
}
.hatH1{
  font-size: 45px;
}
.btn-default{
  font-size: 20px;
}
#indexH1{
  color:goldenrod
}
#quizzie h1{
  font-size: 30px;
  margin-left:300px;
  color: rgb(193, 145, 25);
  text-shadow: rgb(236, 234, 234) 1px 0 30px;
}

#quizzie h2{
  font-size: 20px;
  color: whitesmoke;
}
#quizzie li{
  list-style:none;
  color: blanchedalmond;
  
}
#houseMates{
  border:2px solid black;
  width :20%;
  text-align:center;
  border-radius: 15px;
  color: blanchedalmond;
}
#bottomSection{
  color:white
}